# --- Visual Studio ---
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.cache
*.ipch
*.aprof

# --- Pliki wynikowe kompilacji (Build Output) ---
# Te foldery tworzą się same po naciśnięciu "Build"
x64/
x86/
Debug/
Release/
build/
bin/
obj/

# --- Konkretne rozszerzenia plików tymczasowych ---
*.obj
*.pdb
*.ilk
*.tlog
*.idb
*.log
*.pch
*.res

# --- Pliki wykonywalne (chyba że chcesz je trzymać) ---
*.exe
*.lib

# --- DLL ---
# Zazwyczaj ignorujemy DLL-ki generowane przez build,
# ALE chcemy zachować tę jedną główną SDL2.dll w folderze głównym.
*.dll
!SDL2.dll

# --- Systemowe ---
Thumbs.db
.DS_Store